<a href="https://colab.research.google.com/github/abhishekanand1289/Pandas/blob/main/Panda_tasks5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [ ]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
tit = pd.read_csv(url)

In [ ]:
tit.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
pc = tit.groupby('Pclass')

In [ ]:
for i in list(pc.groups.keys()):
  print(f"{i} : {round(pc.get_group(i)['Age'].mean().sum(),2)}, {pc.get_group(i)['Age'].isna().sum()}")

1 : 38.23, 30
2 : 29.88, 11
3 : 25.14, 136

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [ ]:
for i in list(pc.groups.keys()):
  print(i,pc.get_group(i)['Embarked'].fillna(pc.get_group(i)['Embarked'].mode()).value_counts())

1 Embarked
S    127
C     85
Q      2
Name: count, dtype: int64
2 Embarked
S    164
C     17
Q      3
Name: count, dtype: int64
3 Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [ ]:
groups = tit.groupby('Embarked')
groups1 = groups.get_group('S').groupby('Pclass')
groups1.get_group(1)['Fare'].mean()

70.36486220472442

In [ ]:
for i in list(groups.groups.keys()):
  group1 = groups.get_group(i).groupby('Pclass')
  for j in list(group1.groups.keys()):
    print(f"{i}-->{j}-->{round(group1.get_group(j)['Fare'].mean(),2)}")

C-->1-->104.72
C-->2-->25.36
C-->3-->11.21
Q-->1-->90.0
Q-->2-->12.35
Q-->3-->11.18
S-->1-->70.36
S-->2-->20.33
S-->3-->14.64

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [ ]:
fifa = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

In [ ]:
fifa.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0

In [ ]:
fifa.columns

Index(['Sl. No', 'Match No.', 'Team', 'Against', 'Group', 'Goal',
       'Possession (%)', 'Inside Penalty Area', 'Outside Penalty Area',
       'Assists', 'Total Attempts', 'On Target', 'Off Target',
       'Target in Penalty', 'Target from Outside', 'Left Channel',
       'Left Inside Channel', 'Central Channel', 'Right Inside Channel',
       'Right Channel', 'Receptions MD', 'Receptions D',
       'Attempted Line Breaks', 'Completed Line Breaks',
       'Attempted Defensive Line Breaks', 'Completed Defensive Line Breaks',
       'Yellow Cards', 'Red Cards', 'Fouls Against', 'Offsides', 'Passes',
       'Passes Completed', 'Crosses', 'Crosses Completed', 'Corners',
       'Free Kicks', 'Penalties Scored', 'Pts'],
      dtype='object')

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [ ]:
teams = fifa.groupby('Team')

In [ ]:
(teams.get_group('Qatar')['Passes']-teams.get_group('Qatar')['Passes'].mean())/teams.get_group('Qatar')['Passes'].std()

0     0.462725
34   -1.147558
65    0.684833
Name: Passes, dtype: float64

In [ ]:
def z_normalization(group, cols):
  for i in cols:
    group["z_col"] = (group[i] - group[i].mean())/group[i].std()
  return group



cols = ["Passes", "Passes Completed", "Attempted Line Breaks", "Completed Line Breaks" ]
teams.apply(z_normalization, cols = cols)

<ipython-input-13-344cf0024226>:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  teams.apply(z_normalization, cols = cols)

               Sl. No  Match No.       Team        Against Group  Goal  \
Team
Argentina 8         9          5  Argentina   Saudi Arabia     C     1
          46       47         24  Argentina         Mexico     C     2
          77       78         39  Argentina         Poland     C     2
          98       99         50  Argentina      Australia     C     2
          115     116         58  Argentina    Netherlands     C     2
...               ...        ...        ...            ...   ...   ...
Uruguay   63       64         32    Uruguay       Portugal     H     0
          89       90         45    Uruguay          Ghana     H     2
Wales     7         8          4      Wales  United States     B     1
          32       33         17      Wales           Iran     B     0
          68       69         35      Wales        England     B     0

               Possession (%)  Inside Penalty Area  Outside Penalty Area  \
Team
Argentina 8                51                    1                     0
          46               50                    1                     1
          77               67                    1                     1
          98               53                    2                     0
          115              44                    2                     0
...                       ...                  ...                   ...
Uruguay   63               35                    0                     0
          89               39                    2                     0
Wales     7                39                    1                     0
          32               51                    0                     0
          68               33                    0                     0

               Assists  ...  Offsides  Passes  Passes Completed  Crosses  \
Team                    ...
Argentina 8          0  ...        10     593               525       36
          46         2  ...         2     533               464       14
          77         2  ...         0     862               814       22
          98         1  ...         4     711               635        6
          115        1  ...         2     603               511       16
...                ...  ...       ...     ...               ...      ...
Uruguay   63         0  ...         0     390               306       18
          89         1  ...         2     446               361       15
Wales     7          0  ...         1     409               321       15
          32         0  ...         2     508               413       20
          68         0  ...         1     325               261        4

               Crosses Completed  Corners  Free Kicks  Penalties Scored  Pts  \
Team
Argentina 8                   15        9          21                 1    0
          46                   2        4          23                 0    3
          77                   5        9           5                 0    3
          98                   1        1          15                 0    3
          115                  4        8          30                 5    3
...                          ...      ...         ...               ...  ...
Uruguay   63                   5        2          13                 0    0
          89                   4        2          20                 0    3
Wales     7                    6        3          15                 1    1
          32                   5        2          12                 0    1
          68                   1        1          10                 0    0

                  z_col
Team
Argentina 8    0.087403
          46  -0.945040
          77   0.049164
          98   0.393311
          115 -0.103791
...                 ...
Uruguay   63  -0.623480
          89   1.153437
Wales     7    0.195342
          32   0.887916
          68  -1.083258

[128 rows x 39 columns]

In [ ]:


teams.agg({"Passes":['min','max'],
           "Yellow Cards":'min',
           "Yellow Cards":['max','mean'],
           "Attempted Line Breaks":['max','min','std'],
           "Possession (%)":'mean'
           })

               Passes       Yellow Cards           Attempted Line Breaks       \
                  min   max          max      mean                   max  min
Team
Argentina         408   862            8  2.285714                   249  141
Australia         286   466            3  1.750000                   171  133
Belgium           512   685            3  1.666667                   195  167
Brazil            548   695            3  1.200000                   193  164
Cameroon          295   500            5  2.666667                   182  144
Canada            448   536            4  2.666667                   176  102
Costa Rica        231   454            3  2.000000                   154   86
Croatia           461   724            2  1.142857                   259   97
Denmark           537   650            2  1.666667                   241  173
Ecuador           429   484            2  1.000000                   177  143
England           508   810            1  0.200000                   208  133
France            358   734            3  1.142857                   179  126
Germany           352   827            3  1.000000                   256  143
Ghana             319   460            4  2.666667                   188  122
Iran              232   463            3  2.333333                   195   56
Japan             225   591            3  1.500000                   253  104
Korea Republic    359   548            2  1.500000                   201  139
Mexico            356   500            4  2.333333                   198  127
Morocco           229   583            3  1.285714                   157  128
Netherlands       403   786            4  1.800000                   198  168
Poland            303   466            3  1.750000                   156   79
Portugal          461   678            3  1.200000                   197  165
Qatar             424   457            4  2.333333                   174  159
Saudi Arabia      267   560            6  4.666667                   205  147
Senegal           277   511            3  1.750000                   184  143
Serbia            403   513            7  4.000000                   184  140
Spain             647  1070            1  0.500000                   237  186
Switzerland       403   512            4  2.250000                   178  157
Tunisia           328   501            3  1.666667                   200  153
United States     427   572            4  1.250000                   204  143
Uruguay           390   528            3  2.000000                   186  146
Wales             325   508            2  1.666667                   208  104

                          Possession (%)
                      std           mean
Team
Argentina       38.774685      49.285714
Australia       17.682383      31.250000
Belgium         14.422205      49.000000
Brazil          10.691118      50.400000
Cameroon        19.857828      38.333333
Canada          37.753587      44.333333
Costa Rica      38.974351      27.333333
Croatia         54.499891      47.428571
Denmark         34.000000      51.333333
Ecuador         17.009801      42.666667
England         29.676590      57.200000
France          21.407609      44.857143
Germany         56.624494      53.000000
Ghana           33.020196      37.000000
Iran            77.526340      31.666667
Japan           64.048810      30.250000
Korea Republic  27.072434      42.250000
Mexico          40.706265      46.666667
Morocco         10.641339      34.285714
Netherlands     12.759310      44.000000
Poland          36.326070      32.000000
Portugal        13.049904      53.800000
Qatar            7.767453      39.333333
Saudi Arabia    29.022979      36.666667
Senegal         16.938615      38.500000
Serbia          22.188586      42.666667
Spain           24.289916      67.000000
Switzerland      9.032349      43.000000
Tunisia         24.419937      38.666667
United States   27.693260      47.000000
Uruguay         22.030282      41.000000
Wales           53.028294      41.000000

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

In [ ]:
ipl = pd.read_csv("/content/ipl_deliveries - ipl_deliveries.csv")
ipl.head()

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [ ]:
new = ipl[ipl['innings']==2]

new.groupby(['ID','batter']).sum().sort_values(by='batsman_run',ascending=False)['batsman_run'].head(1)

ID      batter
501206  PC Valthaty    120
Name: batsman_run, dtype: int64

In [ ]:
new2 = new[new['ballnumber']>100]
((new2['batsman_run']/new2['ballnumber'])*100).sort_values(ascending=False).head(1)

Series([], dtype: float64)

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [ ]:
df = ipl[(ipl['isWicketDelivery']==1)&(~ipl.kind.isin(['run out', 'retired hurt', 'retired out']))]
df.groupby(['batter','bowler']).agg({'isWicketDelivery':'sum',
                                     'batsman_run':'sum'}).reset_index().sort_values(by=['isWicketDelivery','batsman_run'],ascending=[False,True])

          batter          bowler  isWicketDelivery  batsman_run
4473    MS Dhoni          Z Khan                 7            0
5599   RG Sharma        A Mishra                 7            0
5688   RG Sharma       SP Narine                 7            0
5937  RV Uthappa        R Ashwin                 7            0
7555     V Kohli  Sandeep Sharma                 7            0
...          ...             ...               ...          ...
8057      Z Khan       KH Pandya                 1            0
8058      Z Khan       KV Sharma                 1            0
8059      Z Khan       PP Chawla                 1            0
8060      Z Khan      SC Ganguly                 1            0
8061      Z Khan        SK Warne                 1            0

[8062 rows x 4 columns]

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [ ]:

ipl.groupby(['batter','non-striker']).sum().sort_values(by='total_run',ascending=False)['total_run'].head()

batter          non-striker
AB de Villiers  V Kohli           1623
CH Gayle        V Kohli           1617
V Kohli         AB de Villiers    1511
DA Warner       S Dhawan          1420
V Kohli         CH Gayle          1185
Name: total_run, dtype: int64

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [ ]:
new = ipl.groupby(['batter','non-striker']).sum().sort_values(by='total_run',ascending=False)['total_run']
new

batter           non-striker
AB de Villiers   V Kohli           1623
CH Gayle         V Kohli           1617
V Kohli          AB de Villiers    1511
DA Warner        S Dhawan          1420
V Kohli          CH Gayle          1185
                                   ...
VR Aaron         P Negi               0
S Gopal          DA Miller            0
TK Curran        Shivam Mavi          0
VR Aaron         S Gopal              0
AA Jhunjhunwala  S Narwal             0
Name: total_run, Length: 8062, dtype: int64